<h1> Welcome to the Volunteers Page </h1>
<p> Add a volunteer to the database:</p>
<hr>
<p> Add volunteers to any project:</p>
<form action="/volunteers" method="post">
  <label for="assigned_project_id">Select a Project</label>
  <select id='assigned_project_id' name='assigned_project_id' type='text'>
    <% if @projects.any? %>
    <% @projects.each() do |project| %>
    <option value="<%= project.id()%>"> <%= project.proj_name() %> </option>
    <% end %>
    <% else %>
    <p> Please add projects first! </p>
    <% end %>
  </select>
  <br>
  <label for = "first_name"> Enter first name: </label>
  <input id = "first_name" name="first_name" type="text"required>
  <br><br>
  <label for ="last_name"> Enter last name: </label>
  <input id = "last_name" name="last_name" type="text"required>
  <br><br>
  <label for="joining_date">Joining date:</label>
  <input id="joining_date" name="joining_date" type="date"required>
  <br><br>
  <label for="leaving_date">Leaving date:</label>
  <input id="leaving_date" name="leaving_date" type="date"required>
  <br><br>
  <button type="submit" >Add volunteers</button>
  <hr>
  <% if @volunteers.any? %>
  <table style="width:50%">
    <tr>
      <th>Volunteer Name</th>
      <th>Joining Date </th>
      <th>Leaving Data </th>
      <th>Assigned project </th>
    </tr>
    <% @volunteers.each do |volunteer| %>
    <tr>
      <th><a href="/volunteers/<%= volunteer.id() %>/edit"><%= volunteer.last_name() %>, <%= volunteer.first_name() %> </a></th>
      <th><%= volunteer.joining_date() %></th>
      <th><%= volunteer.leaving_date() %></th>
      <th><% if @projects.any? %>
        <% @projects.each() do |project| %>
        <% if project.id == volunteer.assigned_project_id %>
        <option value="<%= project.id()%>"> <%= project.proj_name() %> </option>
        <% end %>
        <% end %>
        <% end %>

      </th>
    </tr>
    <% end %>
  </table>
  <% else %>
  <p> There are no volunteers added yet! </p>
  <% end %>
  <hr>
  <p><a href="/projects">See all projects</a></p>
  <p><a href="/">Return to Main Page </a></p>
